{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block CustomCSS %}
<!-- Iconos FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<!-- Estilos propios -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
<!-- LOGO -->
<div class="logo">
  <img src="{{ url_for('static', filename='img/Logo_principal.png') }}" alt="Logo">
</div>

<!-- BOTÓN PERFIL -->
<div class="profile-btn">
  <a href="{{ url_for('perfil') }}">
    <img src="{{ url_for('static', filename='img/perfil.png') }}" 
         alt="Perfil" 
         class="profile-icon">
  </a>
</div>

<!-- BOTÓN LOGOUT -->
<div class="logout-btn">
  <button data-bs-toggle="modal" data-bs-target="#logoutModal">
    <i class="fa-solid fa-door-open"></i>
    <i class="fa-solid fa-arrow-right"></i>
  </button>
</div>

<!-- LOGOUT -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-3 shadow-lg">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Cerrar Sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que quieres cerrar sesión?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Sí, salir</a>
      </div>
    </div>
  </div>
</div>

<!-- BOTÓN MENÚ HAMBURGUESA -->
<button class="menu-btn" id="menu-toggle">
  <span></span>
  <span></span>
  <span></span>
</button>

<!-- MENÚ LATERAL -->
<div class="menu" id="menu">
  {% if  rol == 'empleado' or rol == 'cuidador'%}
    <a href="{{ url_for('registrar_actividad') }}">Registrar Actividad</a>
  {% endif %}
  {% if rol == 'supervisor' or rol == 'empleado' or rol == 'cuidador'%}
  <a href="{{url_for('solicitar_insumo') }}">Solicitudes de Insumos</a>
  {% endif %}

  <!-- Botones de abajo (solo visibles en móvil) -->
  <div class="menu-mobile">
    {% if rol == 'administrador' %}
      <a href="{{ url_for('usuarios') }}">Usuarios</a>
    {% else %}
      <a href="{{ url_for('registrar_actividad') }}">Registrar Actividad</a>
    {% endif %}

    {% if rol == 'administrador' or rol == 'supervisor' %}
      <a href="{{ url_for('ver_solicitudes') }}">Solicitudes</a>
    {% else %}
      <a href="{{ url_for('registrar_siembra') }}">Registro de Siembra</a>
    {% endif %}

    {% if rol == 'administrador' %}
      <a href="{{ url_for('en_construccion') }}">Ventas</a>
    {% else %}
      <a href="{{ url_for('solicitar_insumo') }}">Solicitar Insumos</a>
    {% endif %}

    {% if rol == 'administrador' %}
      <a href="{{ url_for('ver_evidencias') }}">Evidencias</a>
    {% else %}
      <a href="{{ url_for('en_construccion') }}">Tratamientos</a>
    {% endif %}
  </div>
</div>

<!-- GRUPOS DE BOTONES -->
<div class="grupo-izquierda">
  {% if rol == 'administrador' %}
 <div class="btn-wrapper-usuarios">
  <button class="btn-normal" id="usuarios-btn">Usuarios</button>

  <!-- Contenedor desplegable -->
  <div class="dropdown-content" id="usuarios-dropdown">
    <a href="{{ url_for('usuarios') }}">
      <button class="usuarios-drop-btn">Ver usuarios</button>
    </a>
    <a href="{{ url_for('registrar_usuario') }}">
      <button class="usuarios-drop-btn">Registrar usuarios</button>
    </a>
  </div>
</div>
  {% else %}
  <a href="{{ url_for('registrar_actividad') }}">
    <button class="btn-normal">Registra Actividad</button>
  </a>
  {% endif %}

  {% if rol == 'administrador' or rol == 'supervisor' %}
  <a href="{{ url_for('ver_solicitudes') }}">
    <button class="btn-normal">Solicitudes</button>
  </a>
  {% else %}
  <a href="{{ url_for('registrar_siembra') }}">
    <button class="btn-normal">Registra Siembra</button>
  </a>
  {% endif %}
</div>

<div class="btn-wrapper">
  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
    <a href="#" class="btn" id="dropdown-btn">Cultivos</a>
    <div class="dropdown-content" id="dropdown-content">
    <a href="{{ url_for('problemas_registrados') }}" class="drop-btn">Problemas registrados</a>
    <a href="{{ url_for('registrar_produccion') }}" class="drop-btn">Produccion de cultivo</a>
    <a href="{{ url_for('siembra_registrada') }}" class="drop-btn">Siembras</a>
  </div>
</div>

<div class="grupo-derecha">
{% if rol == 'administrador' %}
  <a href="{{ url_for('registrar_ventas') }}">
    <button class="btn-normal">Ventas</button>
  </a>
{% else %}
  <a href="{{ url_for('solicitar_insumo') }}">
    <button class="btn-normal">Solicitar Insumos</button>
  </a>
{% endif %}

{% if rol == 'administrador' %}
  <a href="{{ url_for('ver_evidencias') }}">
    <button class="btn-normal">Evidencias</button>
  </a>
{% else %}
  <a href="{{ url_for('seguimiento_cultivo') }}">
    <button class="btn-normal">Tratamientos</button>
  </a>
{% endif %}
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div id="flash-data" data-icon="{{ category }}" data-message="{{ message }}"></div>
    {% endfor %}
  {% endif %}
{% endwith %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/alertas_registros.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}