{% extends 'base.html' %} {% block title %}Registrar Producción{% endblock %} {%
block CustomCSS %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/registrar_produccion.css') }}"
/>
{% endblock %} {% block body %}
<!------- Logo ------------>
<div class="logo">
  <img src="{{ url_for('static', filename='img/logo_icon.png') }}" alt="Logo" />
</div>

<div class="logout-btn">
  <a href="{{ url_for('home') }}">
    <button title="Volver al inicio">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
  </a>
</div>

<h2 class="Titulo">Registrar Producción</h2>

<div class="containerProduccion">
  <form method="POST">
    <div class="mb-3">
      <label for="cultivo" class="form-label">Tipo de Cultivo:</label>
      <select name="cultivo" class="form-select" required>
        {% for c in cultivos %}
        <option value="{{ c[0] }}">{{ c[1] }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha:</label>
      <input type="date" name="fecha" class="form-control" required />
    </div>

    <div class="mb-3">
      <label for="cantidad" class="form-label">Cantidad de Bultos:</label>
      <input
        type="number"
        name="cantidad"
        class="form-control"
        min="1"
        required
      />
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{{ url_for('produccion_registrada') }}" class="btn btn-secondary"
      >Ver Producción</a
    >
  </form>
</div>
{% endblock %}
