{% extends 'base.html' %}

{% block title %}Registrar_siembra{% endblock %}

{% block CustomCSS %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/registrar_siembra.css') }}">
{% endblock %}

{% block body %}

<!------- Logo ------------>
<div class="logo">
    <img src="{{ url_for('static', filename='img/logo_icon.png') }}" alt="Logo">
</div>

<!------- Titulo ------------>
<h1 class="Titulo"> Registro de Siembra</h1>


<!-- Botón volver al inicio -->
<div class="logout-btn">
  <a href="{{ url_for('home') }}">
    <button title="Volver al inicio">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
  </a>
</div>

<!------- inputs de la siembra ------------>
<div class="containerSiembra">
<form method="POST">
    
    <!------- Selector de cultivos ------------>
    <label for="cultivo">Selector de Cultivo</label>
    <select name="cultivo" required>
        {% for c in cultivos %}
            <option value="{{ c[0] }}">{{ c[1] }}</option>
        {% endfor %}
    </select>

    <!------- Fecha ------------>
    <label for="fecha">Fecha</label>
    <input type="date" name="fecha" required>

    <!------- Detalle ------------>
    <label for="detalle">Detalle o Cantidad</label>
    <textarea name="detalle" rows="4" required></textarea>

    <!------- Botones ------------>
    <div class="botones">
    <button type="submit" class="btn-guardar">Guardar Registro</button>
    <a href="{{ url_for('siembra_registrada') }}"><button type="button" class="btn-consultar">Consultar Registros</button></a>    
</form>
    </div>
</div>

<!------- Imagen planta ------------>
<img src="{{ url_for('static', filename='img/plantaa.png') }}" class="planta" alt="Logo">
{% endblock %}