{% extends "base.html" %}

{% block title %}editar_usuarios{% endblock %}

{% block customCSS %}

{% endblock %}

{% block body %}
     <div class="container">
        <h2>Editar Usuario</h2>
        <form action="{{ url_for('auth.editar_usuario', id=usuario.id) }}" method="POST">
            
            <label for="fullname">Nombre completo:</label>
            <input type="text" id="fullname" name="fullname" value="{{ usuario.fullname }}" required>

            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" value="{{ usuario.username }}" required>

            <label for="password">Contraseña (dejar en blanco si no cambia):</label>
            <input type="password" id="password" name="password">

            <label for="rol">Rol:</label>
            <select id="rol" name="rol" required>
                <option value="Administrador" {% if usuario.rol == 'Administrador' %}selected{% endif %}>Administrador</option>
                <option value="Empleado" {% if usuario.rol == 'Empleado' %}selected{% endif %}>Empleado</option>
                <option value="Cuidador" {% if usuario.rol == 'Cuidador' %}selected{% endif %}>Cuidador</option>
            </select>

            <button type="submit" class="btn">Guardar Cambios</button>
            <a href="{{ url_for('auth.usuarios') }}" class="btn btn-cancel">Cancelar</a>
        </form>
{% endblock %}