{% extends 'base.html' %} {% block title %}Olvidé mi contraseña{% endblock %} {%
block CustomCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/forgot_password.css') }}"
/>
{% endblock %} {% block body %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %} {% for category,
message in messages %}
<div
  id="flash-data"
  data-icon="{{ category }}"
  data-message="{{ message }}"
></div>
{% endfor %} {% endif %} {% endwith %}

<!-- Logo -->
<div class="logo">
  <img src="{{ url_for('static', filename='img/logo_icon.png') }}" alt="Logo" />
</div>

<div class="container">
  <!-- Título y descripción -->
  <h2>¿Olvidaste tu contraseña?</h2>
  <p>Ingresa tu correo y te enviaremos un enlace para restablecerla.</p>

  <!-- Formulario -->
  <form
    id="forgot-form"
    action="{{ url_for('forgot_password') }}"
    method="POST"
    novalidate
  >
    <input
      type="email"
      id="forgotEmail"
      name="email"
      placeholder="Correo electrónico"
      required
    />
    <button type="submit">Enviar enlace</button>
  </form>

  <!-- Link de volver -->
  <a href="{{ url_for('login') }}">Volver al inicio de sesión</a>
</div>

<!-- Imagen decorativa -->
<div class="planta">
  <img src="{{ url_for('static', filename='img/plantaa.png') }}" alt="planta" />
</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/alertas_registros.js') }}"></script>
{% endblock %} {% endblock %}
