{% extends './base.html' %}

{% block title %}Login{% endblock %}

{% block CustomCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block body %}
<div class="logo">
    <img src="{{ url_for('static', filename='img/logo_icon.png') }}" alt="Logo">
</div>

<h1 class="titulo-bienvenida">Bienvenido!</h1>

<main class="contenedor-login">
    <div class="icono-login">
        <i class="bi bi-person-circle"></i> 
    </div>

    <form id="login-form" action="/login" method="POST">

        {% with messages = get_flashed_messages() %}

        {% if messages %}
        <br />
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}
        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="username" name="username" placeholder="username">
            <label for="username">Ingrese su correo electronico</label>
        </div>
        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
            <label for="password">Ingrese su contraseña</label>
        </div>

        <div class="form-options mt-3">
            <a href="{{ url_for('forgot_password') }}" class="forgot-link">Olvidé mi contraseña</a>
        </div>


        <button class="btn btn-lg btn-primary" type="submit">Ingresar</button>
    </form>
</main>

<div class="planta">
    <img src="{{ url_for('static', filename='img/plantaa.png') }}" alt="planta">
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<script>
// Bloquear navegación atrás cuando el usuario ya está en login
window.history.pushState(null, "", window.location.href);
window.onpopstate = function () {
    window.history.pushState(null, "", window.location.href);
};
</script>

{% endblock %}