{% extends 'base.html' %}

{% block title %}Registrar usuario{% endblock %}

{% block CustomCSS %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Registrar_usuarios.css') }}">
{% endblock %}

{% block body %}

<!-- Botón volver al inicio -->
<div class="logout-btn">
  <a href="{{ url_for('home') }}">
    <button title="Volver al inicio">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
  </a>
</div>

<div class="logo">
  <img src="{{ url_for('static', filename='img/logo_icon.png') }}" alt="Logo">
</div>

<div class="container">

  <h1 class="page-title">Registro de Usuario</h1>

  <div class="form-box">
    <form action="{{ url_for('registrar_usuario') }}" method="POST">

      <label for="fullname">Nombre</label>
      <input type="text" id="fullname" name="fullname" required>

      <label for="username">Correo electrónico</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Contraseña</label>
      <div class="password-container">
        <input type="password" id="password" name="password" required>
        <span class="toggle-password" onclick="togglePassword()"></span>
      </div>

      <label for="rol">Rol</label>
      <select id="rol" name="rol" required>
        <option value="">Seleccione un rol</option>
        <option value="administrador">Administrador</option>
        <option value="supervisor">Supervisor</option>
        <option value="empleado">Empleado</option>
        <option value="cuidador">Cuidador</option>
      </select>

      <button type="submit">Registrar</button>
    </form>

    <div class="planta">
      <img src="{{ url_for('static', filename='img/plantaa.png') }}" alt="planta">
    </div>
  </div>

</div>

<script src="{{ url_for('static', filename='js/registrar_usuario.js') }}"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div id="flash-data" data-icon="{{ category }}" data-message="{{ message }}"></div>
    {% endfor %}
  {% endif %}
{% endwith %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/alertas_registros.js') }}"></script>

{% endblock %}
