{% extends 'base.html' %} {% block title %}Restablecer contraseña{% endblock %}
{% block CustomCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/recuperar.css') }}"
/>
{% endblock %} {% block body %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %} {% for category,
message in messages %}
<div
  id="flash-data"
  data-icon="{{ category }}"
  data-message="{{ message }}"
></div>
{% endfor %} {% endif %} {% endwith %}

<div class="container">
  <h2>Restablecer contraseña</h2>
  <form method="POST">
    <input
      type="password"
      name="password"
      placeholder="Nueva contraseña"
      required
    />
    <button type="submit">Actualizar</button>
  </form>
</div>
{% endblock %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/alertas_registros.js') }}"></script>
{% endblock %}
