/* --- Fondo de Perfil para Tema Oscuro --- */
.dark-theme {
    /* Imagen específica de Perfil en modo oscuro */
    background: url("../img/fondo_forms.png") no-repeat center center fixed; 
    background-size: cover;
}

/* --- Fondo de Perfil para Tema Claro --- */
.light-theme {
    /* Imagen específica de Perfil en modo claro */
    background: url("../img/fondo_claro_forms.png") no-repeat center center fixed; 
    background-size: cover;
}

body {
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  margin: 0;
  padding: 0;
}


.logo {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    width: 50px ; 
    height: auto; 
}

.campo-solo-lectura {
  background-color: #2a2a2a;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #3a3a3a;
}

.form-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.btn-guardar {
  background: #2ecc71;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.btn-guardar:hover {
  background: #27ae60;
}

.btn-cancelar {
  background: #e74c3c;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.btn-cancelar:hover {
  background: #c0392b;
}
