/* --- Fondo de Perfil para Tema Oscuro --- */
.dark-theme {
    /* Imagen específica de Perfil en modo oscuro */
    background: url("../img/fondo_forms.png") no-repeat center center fixed; 
    background-size: cover;
}

/* --- Fondo de Perfil para Tema Claro --- */
.light-theme {
    /* Imagen específica de Perfil en modo claro */
    background: url("../img/fondo_claro_forms.png") no-repeat center center fixed; 
    background-size: cover;
}



body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  repeat: no-repeat;
  background-size: cover;
  color: white;
}

/* Logo */
.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: auto;
}

/* Botón volver */
.logout-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.logout-btn button {
  background: #111;
  color: white;
  border: 2px solid #00ff88;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.logout-btn button:hover {
  background: #00ff88;
  color: black;
}

/* --- Contenedor principal de las cards --- */
.problemas-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 1000px;
  margin: 0 auto;
}


/* --- Card individual --- */
.card {
    background: rgba(0, 0, 0, 0.4); /* Fondo blanco para la foto */
    border-radius: 15px; /* Bordes redondeados */
    overflow: hidden; /* Evita que la imagen sobresalga */
    width: 230px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Sombra elegante */
    
}

.card:hover {
    transform: translateY(-8px); /* Animación al pasar el mouse */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}



/* --- Texto debajo de la imagen --- */
.card-body{
    margin: 12px 0;
    font-size: 0.95rem;
    color: #ffffff;
    font-weight: 500;
    color: white;
}


h1{
    margin-top: 50px;
}

.NoResultado{
  display: flex;
  display: none; 
  color: white; 
  text-align: center;
  margin-left: -450px;
}

/* Filtro */
.buscador-contenedor {
    margin-bottom: 20px;
    text-align: center;
}

#buscador-siembra {
    width: 80%;
    max-width: 400px;
    padding: 10px 40px 10px 15px; /* espacio para ícono */
    border-radius: 25px;
    border: 2px solid #4db856;
    background-color: rgba(49, 49, 49, 0.8);
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    background-image: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

#buscador-siembra::placeholder {
    color: #ccc;
}

#buscador-siembra:focus {
    border-color: #54c55a;
    box-shadow: 0 0 10px rgba(82, 175, 82, 0.5);
    background-color: rgba(49, 49, 49, 0.95);
}