/* --- Fondo de Perfil para Tema Oscuro --- */
.dark-theme {
    /* Imagen específica de Perfil en modo oscuro */
    background: url("../img/fondo_forms.png") no-repeat center center fixed; 
    background-size: cover;
}

/* --- Fondo de Perfil para Tema Claro --- */
.light-theme {
    /* Imagen específica de Perfil en modo claro */
    background: url("../img/fondo_claro_forms.png") no-repeat center center fixed; 
    background-size: cover;
}



body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
}

/* Logo */
.logo {
  position: absolute; 
  top: 10px; 
  left: 10px; 
  width: 50px; 
  height: auto; 
}

/* Contenedor */
.containerProduccion {
  max-width: 900px;
  margin: 100px auto;
  padding: 25px;
  background: rgba(0, 0, 0, 0.404);
  border-radius: 16px;
  border: #00ff88 4px solid;
  color: rgb(206, 206, 206);
  box-shadow: 0 6px 18px rgba(33, 234, 137, 0.628);
  text-align: center;
}

/* Titulo */
.Titulo {
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
  color: #2cdf7de6;
  font-weight: bold;
}

/* Organización dentro del contenedor */
label {
  color: #d9d9d9;
  display: block;
  margin: 12px 0 6px;
  font-weight: 600;
}

select, input {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 15px;
  outline: none;
}

textarea {
  resize: none;
  width: 100%;
}

/* Botón volver */
.logout-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.logout-btn button {
  background: #111;
  color: white;
  border: 2px solid #00ff88;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.logout-btn button:hover {
  background: #00ff88;
  color: black;
}

