/* --- Fondo de Perfil para Tema Oscuro --- */
.dark-theme {
    /* Imagen específica de Perfil en modo oscuro */
    background: url("../img/fondo_forms.png") no-repeat center center fixed; 
    background-size: cover;
}

/* --- Fondo de Perfil para Tema Claro --- */
.light-theme {
    /* Imagen específica de Perfil en modo claro */
    background: url("../img/fondo_claro_forms.png") no-repeat center center fixed; 
    background-size: cover;
}



body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 210vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* logo MFG */
.logo {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    width: 50px ; 
    height: auto; 
}

h1 {
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fafafa;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Contenedor principal */
.problema-container {
  max-width: 700px;
  width: 90%;
  margin: 20px auto; /* Centrado horizontal */
  padding: 25px;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 16px;
  color: white;
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

/* File input estilo caja */
.form-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 10px;
  background-color: #111;
  margin-bottom: 15px;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 10px;
  background-color: #111;
  margin-bottom: 15px;
}

/* Inputs generales con fondo oscuro */
.form-control,
.form-select {
    background-color: #1e1e1e;  
    color: #ffffff;             
    border: 1px solid #444;     
    border-radius: 6px;         
    padding: 8px 12px;          
    outline: none;              
    transition: all 0.3s ease;  
}

/* Cuando el input está en foco */
.form-select:focus,
.form-control:focus {
    border-color: #0d6efd;  
    box-shadow: 0 0 6px rgba(13, 110, 253, 0.5);
    background-color: #252525;
    color: white;
}

/* Botón volver */
.logout-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.logout-btn button {
  background: #111;
  color: white;
  border: 2px solid #00ff88;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.logout-btn button:hover {
  background: #00ff88;
  color: black;
}

